# --- Nix ---
result
result-*


# --- Backups / temp ---
backup/
*.bak
*~
*.swp
*.sh


# --- OS junk ---
.DS_Store


/private/*

!/private/private.nix
!/private/home_private.nix
!/private/README.md

!/private/home/
/private/home/*
!/private/home/.gitkeep

!/private/nix/
/private/nix/*
!/private/nix/.gitkeep

# --- Nonsense to add --- 
system/hardware.nix.back
README.md.main


